<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <% if @maneuver.errors.any?%>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h5 class="alert-heading">Erros Encontrados</h5>
                        <ul>
                            <% @maneuver.errors.full_messages.each  do |message| %>
                            <li style="color:black; font-size:15px"> <%= message %></li>
                            <%end%>
                        </ul>
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                <% end %>

                <%= form_with(url:'#', model: @maneuver, local: true) do |form| %>
                    <%= form.fields_for :relatory do |relatory_form| %>
                       <div class="item form-group">
                        <div class="row" >
                            <%=relatory_form.label 'Descrição da Manobra', class:"col-md-4 mb-1", style:"color:black; font-size:20px"%>
                        </div>
                        
                        <div class="row">
                          <div class="col-md-8 mb-3 ">
                            <%=relatory_form.text_area :maneuver_description, value: @maneuver.relatory.maneuver_description, class:"form-control", rows: 10, :required => 'required', readonly: true%>
                          </div>
                        </div>

                    <div class="item form-group">
                        <div class="row">
                            <%=relatory_form.label 'Tendências do Navio', class:"col-md-4 mb-1",style:"color:black; font-size:20px"%>
                        </div>
                        <div class="row">
                          <div class="col-md-8 mb-3">
                            <%=relatory_form.text_area :vessel_tendecies, value:  @maneuver.relatory.vessel_tendecies, class:"form-control", rows: 10, :required => 'required', readonly: true %>
                          </div>
                        </div>
                            
                        <div class="item form-group">
                            <div class="row">
                                    <div class="col-md-8 mb-3">
                                        <%=relatory_form.label 'Nota para segurança da manobra', class:"col-md-6 mb-1", style:"color:black; font-size:20px"%>
                                        <%=relatory_form.text_field :maneuver_safety, value:  @maneuver.relatory.maneuver_safety, class:"form-control", :required => 'required', readonly: true %>
                                </div>
                            </div>
                        </div>

                         <div class="item form-group">
                            <div class="row">
                                    <div class="col-md-8 mb-3">
                                        <%=relatory_form.label 'Nota para segurança da escada', class:"col-md-6 mb-1", style:"color:black; font-size:20px"%>
                                        <%=relatory_form.text_field :ladder_safety, value:  @maneuver.relatory.ladder_safety, class:"form-control", :required => 'required', readonly: true %>
                                </div>
                            </div>
                        </div>
                    <%end%>

        
                    </div>
                    

                <% end %>
                

                    <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-lg-10 col-lg-10 offset-lg-3">
                            <%= link_to "Voltar", operators_backoffice_performed_maneuvers_path, class:"btn btn-primary"%>
                        </div>
                    </div>

              

            </div>
        </div>
    </div>
</div>

