<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <% if @maneuver.errors.any?%>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h5 class="alert-heading">Erros Encontrados</h5>
                        <ul>
                            <% @maneuver.errors.full_messages.each  do |message| %>
                            <li style="color:black; font-size:15px"> <%= message %></li>
                            <%end%>
                        </ul>
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                <% end %>

                <%= form_with(url:operators_backoffice_next_maneuver_path, model: @maneuver, local: true) do |form| %>
                    <div class="item form-group">
                        <%=form.label 'Data', class:"col-form-label col-md-3 col-sm-3 label-align"%>
                        <div class="col-md-6 col-sm-6 ">
                            <div class="col-md-6 col-sm-6 ">
                            <%=form.text_field :date_maneuver, value:I18n.l(@maneuver.date_maneuver), class:"date-picker form-control"%>
                            </div>
                        </div>
                    </div>


                <%= form.fields_for :vessel do |vessel_form| %>

                    <div class="item form-group">
                        <%=vessel_form.label 'Nome', class:"col-form-label col-md-3 col-sm-3 label-align"%>
                        <div class="col-md-6 col-sm-6 ">
                            <%=vessel_form.text_field :first_name, class:"form-control"%>
                        </div>
                    </div>

               
                    <%end%>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </div>

                <% end %>
            </div>
        </div>
    </div>
</div>