<title> Login Operador </title>

<div class="limiter">
		<div class="container-login100" style="background-color: #D3D3D3">
			<div class="wrap-login100">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="login100-form validate-form p-l-55 p-r-55 p-t-178">
					<span class="login100-form-title" style="background-color: #D2691E">
						Log In Operador
					</span>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username" style="background-color: #D3D3D3">
						<%= f.email_field :email,class:"input100", placeholder:"Email" %>
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Please enter password" style="background-color: #D3D3D3">
						<%= f.password_field :password, class:"input100", placeholder:"Senha" %>
						<span class="focus-input100"></span>
					</div>
          <br>

					<div class="container-login100-form-btn" >		
            <%= f.submit "Entrar", class:"login100-form-btn", style:"background-color: #D2691E" %>
					</div>

					<div class="flex-col-c p-t-50 p-b-40">
						<span class="txt1 p-b-9">
							Não tem uma conta?
						</span>

						<a>
							<%= link_to 'Registre-se agora!', new_operator_registration_path, class:"txt3", style:"color: #D2691E"%>
						</a>
					</div>
          <%end%>
				</div>
			</div>
		</div>
	</div>
