<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>

    <%= stylesheet_link_tag    'application'%>
    <%= stylesheet_link_tag    'pilot_devise'%>
  </head>

  <body>
    <%= yield %>
    	
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'pilot_devise' %>

     <%if flash%>
			  <% flash.each do |key, value| %>
					<%=javascript_tag do%>
						$.bootstrapGrowl('<%= value %>', {
						ele: 'body', // which element to append to
						type: 'danger', // (null, 'info', 'danger', 'success')
						offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
						align: 'right', // ('left', 'right', or 'center')
						width: 250, // (integer, or 'auto')
						delay: 4000, // Time while the message will be displayed. It's not equivalent to the *demo* timeOut!
						allow_dismiss: true, // If true then will display a cross to close the popup.
						stackup_spacing: 10 // spacing between consecutively stacked growls.
					});
				<%end%>
      <%end%>
		<%end%>

  </body>
</html>