
<style>
.index-link {
  color: black;
  padding: 20px;
}
 </style>

<!doctype html>

<html>
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>LogisticaDeManobras</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'site' %>
    

  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light rounded " style="background-color: #2f4f4f; padding:20px">
        <!-- Links para index de cada controller-->
        <%= link_to 'Início', root_path, class:"index-link", style:"font-size: 20px; color: white"%>

        <%= link_to 'Próximas Manobras', site_next_maneuvers_index_path, class:"index-link", style:"font-size: 20px; color: white" %>

        <%= link_to 'Manobras Realizadas', site_maneuvers_performed_index_path, class:"index-link", style:"font-size: 20px; color: white" %>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav ml-auto">
          <%if 1%>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="font-size: 20px; color: white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Entrar
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #DCDCDC">
                <a><%= link_to 'Operador', new_operator_session_path , class:"dropdown-item", style:"font-size: 15px; color: black"%></a>
                <hr>
                 <a><%= link_to 'Prático', new_pilot_session_path , class:"dropdown-item", style:"font-size: 15px; color: black"%></a>
              </div>
            </li>
            <li >

             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="font-size: 20px; color: white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cadastre-se
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #DCDCDC">
                <a><%= link_to 'Operador', new_operator_registration_path , class:"dropdown-item", style:"font-size: 15px; color: black"%></a>
                <hr>
                 <a><%= link_to 'Prático', new_pilot_registration_path , class:"dropdown-item", style:"font-size: 15px; color: black"%></a>
              </div>
            </li>
            <li >

          <%else%>
            <li class="nav-item dropdown" class="index-link">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="padding: 15px; color:black"><%=current_user.email%></a>
              <div class="dropdown-menu" aria-labelledby="dropdown09">
                <!--   <a class="dropdown-item">
                  <%=link_to users_backoffice_welcome_index_path, class:"dropdown-item" do%>
                    <i class="fa fa-user"></i> Perfil
                  <%end%>   
                </a>
                 <div class="dropdown-divider"></div>
                <a class="dropdown-item">
                  <%=link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do%>
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Sair
                  <%end%>   
                </a>-->
              </div>
            </li>
            <%end%>
          </ul>    
        </div>
      </nav> 
      <%= yield %>
    </div>
      <%= javascript_include_tag 'application'%>
      <%= javascript_include_tag 'site'%>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <%if notice%>
      <%=javascript_tag do%>
        $.bootstrapGrowl('<%=  notice %>', {
        ele: 'body', // which element to append to
        type: 'success', // (null, 'info', 'danger', 'success')
        offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
        align: 'right', // ('left', 'right', or 'center')
        width: 250, // (integer, or 'auto')
        delay: 4000, // Time while the message will be displayed. It's not equivalent to the *demo* timeOut!
        allow_dismiss: true, // If true then will display a cross to close the popup.
        stackup_spacing: 10 // spacing between consecutively stacked growls.
      });
      <%end%>
    <%end%>-->
  </body>
</html>

